# Indexes

Table indexes are data structures that allow fast lookups by an indexed attribute or combination of attributes.

In DataJoint, indexes are created by one of the three mechanisms:

1. Primary key 
2. Foreign key 
3. Explicitly defined indexes

The first two mechanisms are obligatory. Every table has a primary key, which serves as an unique index. Therefore, restrictions by a primary key are very fast. Foreign keys create additional indexes unless a suitable index already exists.

Let's test this principle. Let's create a table with a 10,000 entries and compare lookup times:

In [ ]:
import datajoint as dj
schema = dj.Schema('indexes')

[2024-10-22 23:59:07,736][INFO]: Connecting root@localhost:3306
[2024-10-22 23:59:07,776][INFO]: Connected root@localhost:3306

Let's say a mouse in the lab has a lab-specific ID but it also has a separate id issued by the animal facility.

In [20]:
@schema
class Mouse(dj.Manual):
    definition = """
    mouse_id : int  # lab-specific ID
    ---
    tag_id : int  # animal facility ID
    """

In [21]:
import random
def populate_mice(table, n=200_000):
    """insert a bunch of mice"""
    table.insert(
        ((random.randint(1,1000_000_000), random.randint(1,1000_000_000)) 
         for i in range(n)), skip_duplicates=True)

In [29]:
populate_mice(Mouse())

In [30]:
Mouse()

*mouse_id    tag_id
+----------+ +-----------+
1235         611073359
1642         81899632
1659         172762154
1935         758844555
2423         391592578
2672         519030374
4578         393772628
5642         857624955
5997         271256353
7088         820229475
7577         347597850
8821         40618313
   ...
 (Total: 999506)

In [32]:
%%timeit -n6 -r3

# efficient! Uses the primary key
(Mouse() & {'mouse_id': random.randint(0, 999_999)}).fetch()

1.41 ms ± 483 μs per loop (mean ± std. dev. of 3 runs, 6 loops each)

In [33]:
%%timeit -n6 -r3

# inefficient! Requires a full table scan
(Mouse() & {'tag_id': random.randint(0, 999_999)}).fetch()

210 ms ± 5.51 ms per loop (mean ± std. dev. of 3 runs, 6 loops each)

The indexed searches are much faster!

To make searches faster on fields other than the primary key or a foreign key, you can add a secondary index explicitly. 

Regular indexes are declared as `index(attr1, ..., attrN)` on a separate line anywhere in the table declration (below the primary key divide). 

Indexes can be declared with unique constraint as  `unique index (attr1, ..., attrN)`.

Let's redeclare the table with a unique index on `tag_id`.

In [34]:
@schema
class Mouse2(dj.Manual):
    definition = """
    mouse_id : int  # lab-specific ID
    ---
    tag_id : int  # animal facility ID
    unique index (tag_id)
    """

In [39]:
populate_mice(Mouse2())

In [40]:
Mouse2()

*mouse_id    tag_id
+----------+ +-----------+
2662         735424844
2851         647655500
4056         274020
4171         30761877
4468         379575468
4719         739577052
4969         840248340
5564         764263886
5614         953650373
7234         486537164
7660         316951185
7884         522730603
   ...
 (Total: 998935)

Now both types of searches are equally efficient!

In [44]:
%%timeit -n6 -r3

#efficient! Uses the primary key
(Mouse2() & {'mouse_id': random.randint(0, 999_999)}).fetch()

1.31 ms ± 233 μs per loop (mean ± std. dev. of 3 runs, 6 loops each)

In [46]:
%%timeit -n6 -r3

#efficient! Uses the seconary index on tag_id
(Mouse2() & {'tag_id': random.randint(0, 999_999)}).fetch()

1.29 ms ± 403 μs per loop (mean ± std. dev. of 3 runs, 6 loops each)

Let's now imagine that rats in the `Rat` table are identified by the combination of lab the `lab_name` and `rat_id` in each lab:

In [7]:
import random

In [5]:
@schema
class Rat(dj.Manual):
    definition = """
    lab_name : char(16) 
    rat_id : int unsigned # lab-specific ID
    ---
    date_of_birth = null : date
    """

In [8]:
def populate_rats(table):
    lab_names = ("Cajal", "Kandel", "Moser", "Wiesel")
    for date_of_birth in (None, "2024-10-01", 
                          "2024-10-02", "2024-10-03", "2024-10-04"):
        table.insert((
            (random.choice(lab_names), random.randint(1, 1_000_000_000), date_of_birth) 
                   for i in range(100_000)), skip_duplicates=True)

In [9]:
populate_rats(Rat)

In [10]:
Rat()

*lab_name    *rat_id    date_of_birth
+----------+ +--------+ +------------+
Cajal        6494       None
Cajal        26940      2024-10-02
Cajal        29126      None
Cajal        30792      None
Cajal        34446      2024-10-04
Cajal        37934      2024-10-03
Cajal        40620      2024-10-01
Cajal        59767      2024-10-02
Cajal        66056      2024-10-02
Cajal        73809      None
Cajal        93984      2024-10-02
Cajal        103254     2024-10-02
   ...
 (Total: 499979)

In [ ]:
Rat()

Note that dispite the fact that `rat_id` is in the index, search by `rat_id` alone are not helped by the index because it is not first in the index. This is similar to search for a word in a dictionary that orders words alphabetically. Searching by the first letters of a word is easy but searching by the last few letters of a word requires scanning the whole dictionary.

In this table, the primary key is a unique index on the combination `(lab_id, rat_id)`. Therefore searches on these attributes or on `lab_id` alone are fast. But this index cannot help searches on `rat_id` alone:

In [11]:
%%timeit -n2 -r10

# inefficient!  Requires full table scan.
(Rat() & {'rat_id': 300}).fetch()

141 ms ± 8.25 ms per loop (mean ± std. dev. of 10 runs, 2 loops each)

In [12]:
%%timeit -n2 -r10

# efficient! Uses the primary key
(Rat() & {'rat_id': 300, 'lab_name': 'Cajal'}).fetch()

1.42 ms ± 482 μs per loop (mean ± std. dev. of 10 runs, 2 loops each)

In [13]:
%%timeit -n2 -r10

# inefficient! Requires a full table scan
len(Rat & {'rat_id': 500})

125 ms ± 10.1 ms per loop (mean ± std. dev. of 10 runs, 2 loops each)

Pattern searches in strings can benefit from an index when the starting characters are specified.

In [16]:
%%timeit -n2 -r2

# efficient! Uses the primary key
len(Rat & 'lab_name="Cajal"')

480 ms ± 32.8 ms per loop (mean ± std. dev. of 2 runs, 2 loops each)

In [15]:
%%timeit -n2 -r2

# inefficient! requires a full table scan
len(Rat & 'lab_name LIKE "%jal"')

545 ms ± 30.9 ms per loop (mean ± std. dev. of 2 runs, 2 loops each)

Similarly, searching by the date requires an inefficient full-table scan:

In [17]:
%%timeit -n3 -r6

len(Rat & 'date_of_birth > "2024-10-02"')

786 ms ± 14.3 ms per loop (mean ± std. dev. of 6 runs, 3 loops each)

To speed up searches by the `rat_id` and `date_of_birth`, we can explicit indexes to `Rat`:

In [19]:
@schema
class Rat2(dj.Manual):
    definition = """
    lab_name : char(16) 
    rat_id : int unsigned # lab-specific ID
    ---
    date_of_birth = null : date

    index(rat_id)
    index(date_of_birth)
    """

In [20]:
populate_rats(Rat2())

In [21]:
%%timeit -n3 -r6

# efficient!  uses index on rat_id
(Rat2() & {'rat_id': 300}).fetch()

2 ms ± 587 μs per loop (mean ± std. dev. of 6 runs, 3 loops each)

In [23]:
%%timeit -n2 -r2

# efficient! uses index on date_of_birth
len(Rat2 & 'date_of_birth = "2024-10-02"')

398 ms ± 27.9 ms per loop (mean ± std. dev. of 2 runs, 2 loops each)

#### Quiz: How many indexes does the table `Rat` have?

In [ ]:
Rat.describe();

#### Answer

Three: primary key, rat_id, date_of_birth

In [ ]:
# To re-run the notebook, drop the schema to create anew
# schema.drop()

# Indexes in SQL

In [18]:
import pymysql
import os
pymysql.install_as_MySQLdb()

connection_string = "mysql://{user}:{password}@{host}".format(
    user=os.environ['DJ_USER'],
    host=os.environ['DJ_HOST'],
    password=os.environ['DJ_PASS']
)

%load_ext sql
%sql $connection_string

In [36]:
%%sql

create database indexes

 * mysql://dimitri:***@db.ust-data-sci.net
(pymysql.err.ProgrammingError) (1007, "Can't create database 'dimitri_indexes'; database exists")
[SQL: create database dimitri_indexes]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [37]:
%%sql

SHOW TABLES in indexes;

 * mysql://dimitri:***@db.ust-data-sci.net
5 rows affected.

[('mouse',), ('mouse2',), ('rat',), ('rat2',), ('~log',)]

In [38]:
%%sql

CREATE TABLE indexes.mouse (
mouse_id  int  NOT NULL,
tag_id int NOT NULL,
primary key(mouse_id)
)

 * mysql://dimitri:***@db.ust-data-sci.net
(pymysql.err.OperationalError) (1050, "Table 'mouse' already exists")
[SQL: CREATE TABLE dimitri_indexes.mouse(
mouse_id  int  NOT NULL,
tag_id int NOT NULL,
primary key(mouse_id)
)]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [39]:
%%sql

drop table dimitri_indexes.mouse

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]

In [40]:
%%sql

CREATE TABLE dimitri_indexes.mouse(
mouse_id  int  NOT NULL,
tag_id int NOT NULL,
primary key(mouse_id),
unique index (tag_id)
)

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]

In [41]:
%%sql

CREATE UNIQUE INDEX mouse_idx ON dimitri_indexes.mouse (tag_id)

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]

In [45]:
%%sql

DROP INDEX mouse_idx ON dimitri_indexes.mouse;

 * mysql://dimitri:***@db.ust-data-sci.net
0 rows affected.

[]