# Aggregation Queries

This chapter introduces aggregation queries—one of the most powerful features of relational databases. Aggregation allows you to compute summary statistics (counts, averages, sums, etc.) across groups of data.

**Key Concept**: Aggregation is always defined between two entities: it is a binary operator. You aggregate entity B with respect to entity A. The primary key of the result is the primary key of entity A.

This can be a subtle concept to grasp since in SQL aggregation is described as a unary operator performed on a single table.

We'll present DataJoint concepts first, then show SQL equivalents for contrast. This emphasizes DataJoint's workflow-centric view while demonstrating how the same operations work in SQL.

In [1]:
import datajoint as dj

sales = dj.Schema("classicsales")
sales.spawn_missing_classes()

nations = dj.Schema("nation")
nations.spawn_missing_classes()

hotel = dj.Schema("hotel")
hotel.spawn_missing_classes()

university = dj.Schema("university")
university.spawn_missing_classes()

app = dj.Schema("app")
app.spawn_missing_classes()

[2023-11-01 00:25:59,466][INFO]: Connecting root@fakeservices.datajoint.io:3306
[2023-11-01 00:25:59,482][INFO]: Connected root@fakeservices.datajoint.io:3306

## Core Concepts

### Aggregation Functions

The main aggregation functions are:
- `COUNT(*)` - Counts rows
- `COUNT(column)` - Counts non-NULL values
- `SUM(column)` - Sums numeric values
- `AVG(column)` - Computes average
- `MAX(column)` - Finds maximum value
- `MIN(column)` - Finds minimum value
- `STD(column)` - Standard deviation
- `VAR(column)` - Variance

For a complete list, see: https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html

### Two Types of Aggregation

1. **Total Aggregation**: Aggregation functions without grouping produce **1 row**—a single summary statistic across all data.

2. **Grouped Aggregation**: Aggregation functions combined with grouping. The grouping attributes become the **primary key** of the result. This is the most common pattern: aggregate entity B with respect to entity A, grouped by the primary key of entity A.

### The Fundamental Pattern in DataJoint

In DataJoint, aggregation is always defined between two entities:
- You **aggregate entity B** (the right table)
- **With respect to entity A** (the left table)
- The result's primary key is the **primary key of entity A**
- You can **select attributes directly** only from entity A (left table)
- Attributes from entity B (right table) **must be aggregated**

This pattern ensures that aggregation always creates a valid entity relationship in the workflow.

In [ ]:
import datajoint as dj

schema = dj.Schema("app")
schema.spawn_missing_classes()
dj.Diagram(schema)

In [ ]:
import pymysql

pymysql.install_as_MySQLdb()
%load_ext sql
%config SqlMagic.autocommit=True
%sql mysql://root:simple@127.0.0.1

## Type 1: Total Aggregation (No Grouping)

When you use aggregation functions without grouping, the result collapses into a single row representing a summary across all data.

### Example: Average Age (DataJoint)

In [ ]:
# Show average age of male accounts
dj.U().aggr(Account & 'sex="M"', avg_age="floor(avg(DATEDIFF(now(), dob)) / 365.25)")

In [ ]:
### SQL Equivalent

In SQL, this is done without `GROUP BY`:

In [ ]:
%%sql
SELECT floor(avg(DATEDIFF(now(), dob)) / 365.25) as avg_age 
FROM app.account 
WHERE sex="M"

**Key Point**: Anytime you use an aggregation function, the result becomes just one row (unless you have `GROUP BY`). This is a fundamental transformation: you lose your table structure and get a single summary value.

### ⚠️ Common Mistake: Mixing Aggregated and Non-Aggregated Values

**You cannot mix aggregated and non-aggregated values in the same query.** This is an error:

In [ ]:
%%sql
-- This is INVALID: mixing aggregated (max) and non-aggregated (phone) values
-- SELECT max(dob) as dob, phone FROM app.account

In [ ]:
**Why it's invalid**: `max(dob)` aggregates all rows into one value, but `phone` returns multiple values (one per row). These cannot coexist in the same result.

**Correct approach**: Use a subquery to find the maximum, then filter:

In [ ]:
%%sql
-- Show the person with the youngest date of birth
SELECT * FROM app.account 
WHERE dob = (SELECT max(dob) FROM app.account)

In [ ]:
## Type 2: Grouped Aggregation

The most common and powerful pattern is to aggregate entity B with respect to entity A, grouped by the primary key of entity A.

### The Pattern in DataJoint

```python
EntityA.aggr(EntityB, new_attribute='aggregation_function(attribute)')
```

- **EntityA** (left): The entity you're aggregating **with respect to** (defines groups)
- **EntityB** (right): The entity you're **aggregating over** (what gets summarized)
- The result's primary key is the **primary key of EntityA**
- You can select attributes directly from EntityA
- Attributes from EntityB must be aggregated

In [ ]:
### Example 1: Number of Items Per Order (Sales Database)

**DataJoint**: Aggregate `Order.Item` with respect to `Order`

In [ ]:
# Count number of items per order
Order.aggr(Order.Item(), n="count(*)")

In [ ]:
**SQL Equivalent**:

In [ ]:
%%sql
USE classicsales;

SELECT order_number, COUNT(*) as n
FROM `order` NATURAL JOIN `order item`
GROUP BY order_number

**Pattern in SQL**:
1. **SELECT** the primary key of the left table (`order_number`)
2. **SELECT** aggregated values from the right table (`COUNT(*)`)
3. **FROM** the JOIN of left and right tables
4. **GROUP BY** the primary key of the left table (`order_number`)

### Example 2: Total Orders Per Customer (Sales Database)

**DataJoint**: Aggregate `Order` with respect to `Customer`

In [ ]:
# Count orders per customer (showing only customers who placed orders)
Customer.aggr(Order(), n="count(*)")

**SQL Equivalent**:

In [ ]:
%%sql
SELECT customer_number, customer_name, COUNT(*) as n
FROM customer NATURAL JOIN `order`
GROUP BY customer_number

### Example 3: Number of Direct Reports Per Employee (Sales Database)

**DataJoint**: Aggregate `Report` with respect to `Employee`

In [ ]:
# Show all employees and the number of their direct reports
Employee.proj(reports_to="employee_number").aggr(Report, n="count(employee_number)")

**SQL Equivalent** (using LEFT JOIN):

In [ ]:
%%sql
SELECT e.employee_number, e.first_name, e.last_name, COUNT(r.employee_number) as n
FROM employee e
LEFT JOIN report r ON (e.employee_number = r.reports_to)
GROUP BY e.employee_number

## LEFT JOIN with Aggregation

**LEFT JOIN** is almost always used with `GROUP BY`. Its purpose: include rows from the left table even when there are no matching rows in the right table.

### When to Use LEFT JOIN

- **Inner JOIN** (default): Only includes rows where matches exist in both tables
- **LEFT JOIN**: Includes all rows from the left table, filling missing values with `NULL`

In DataJoint, this is controlled by `keep_all_rows=True` in `.aggr()`:

In [ ]:
# Include ALL employees, even those with zero direct reports
# Use keep_all_rows=True to include employees with no reports
Employee.proj(reports_to="employee_number").aggr(
    Report, 
    n="count(employee_number)",  # Count only non-NULL values
    keep_all_rows=True  # Include employees with zero reports
)

**SQL Equivalent**:

In [ ]:
%%sql
SELECT e.employee_number, e.first_name, e.last_name, COUNT(r.employee_number) as n
FROM employee e
LEFT JOIN report r ON (e.employee_number = r.reports_to)
GROUP BY e.employee_number

**Key Point**: In SQL, use `COUNT(column)` instead of `COUNT(*)` when using LEFT JOIN, because `COUNT(*)` counts NULL rows, while `COUNT(column)` only counts non-NULL values. This correctly gives you zero for employees with no reports.

## HAVING Clause (Post-Aggregation Filtering)

**HAVING** is used to filter results **after** aggregation. It's like a `WHERE` clause, but applied to aggregated values.

### The Difference

- **WHERE**: Filters rows **before** aggregation
- **HAVING**: Filters rows **after** aggregation (can use aggregated values)

In DataJoint, you just apply another restriction after aggregation (since restrictions compose naturally):

In [ ]:
# Show only regions with more than 10 countries
regions_with_counts = Region.aggr(Country, country_count="count(*)")

# Apply restriction after aggregation
(regions_with_counts & 'country_count > 10').proj('region_name', 'country_count')

**SQL Equivalent**:

In [ ]:
%%sql
USE nation;

SELECT r.region_id, r.name as region_name, COUNT(*) as country_count
FROM region r
JOIN country c USING (region_id)
GROUP BY r.region_id
HAVING country_count > 10

In [ ]:
%%sql
SELECT * FROM `#add_on` LIMIT 10

In [ ]:
%%sql
SELECT * FROM purchase NATURAL JOIN `#add_on` LIMIT 10

In [ ]:
%%sql
-- show the total money spent by each account (limit to top 10)

SELECT phone, sum(price) as total_spending 
    FROM purchase NATURAL JOIN `#add_on` 
    GROUP BY (phone) 
    ORDER BY total_spending DESC LIMIT 10

In [ ]:
%%sql
-- show the names of people who spent less than $100

SELECT phone, sum(price) as total_spending 
    FROM purchase NATURAL JOIN `#add_on` 
    WHERE total_spending < 100
    GROUP BY (phone) 
    LIMIT 10

In [ ]:
%%sql
-- show the names of people who spent less than $100

SELECT * FROM (
    SELECT phone, first_name, last_name, sum(price) as total_spending 
    FROM account NATURAL JOIN purchase NATURAL JOIN `#add_on` 
    GROUP BY (phone)) as q    
WHERE total_spending < 100
LIMIT 10

-- almost correct but does not include people who spent nothing

In [ ]:
%%sql 
-- explaining LEFT joins
SELECT * FROM account NATURAL LEFT JOIN purchase NATURAL LEFT JOIN `#add_on` LIMIT 10

In [ ]:
%%sql
-- show the names of people who spent less than $100
SELECT * FROM (
    SELECT phone, first_name, last_name, sum(ifnull(price), 0) as total_spending 
    FROM account NATURAL LEFT JOIN purchase NATURAL LEFT JOIN `#add_on` 
    GROUP BY (phone)) as q    
WHERE total_spending < 100
LIMIT 10

# Summary of principles 
1. Without a `GROUP BY`, aggregation functions collapse the table into a single row.
2. With `GROUP BY`, the grouping attributes become the new primary key of the result.  
3. Do not mix aggregated and non-aggregated values in the result with or without a `GROUP BY`.
4. `HAVING` plays the same role as the `WHERE` clause in a nesting outer query so it can use the output of the aggregation functions.
5. `LEFT JOIN` is often followed with a `GROUP BY` by the primary key attributes of the left table. In this scenario the entities in the right table are aggregated for each matching row in the left table.

1. Always aggregate entity B grouped by entity A
2. Then GROUP BY the primary of A
3. Aggregate the attribute B but not A
4. SELECT non-aggregated attributes of A but not B
5. Use an left join if you need to include rows of A for which there is no match in B

dj.Diagram(sales)

In [2]:
dj.Diagram(sales)

In [15]:
# Show all the orders made in March 2003 and the total number of items on each
(Order & 'order_date between "2003-03-01" and "2003-03-31"').aggr(
    Order.Item(), n="count(*)", keep_all_rows=True
)

*order_number  n
+------------+ +----+
10108          16
10109          6
10110          16
10111          6
10112          2
10113          4
 (Total: 6)

In [25]:
# SHOW ALL the employees, the number of their direct reports

Employee.proj(reports_to="employee_number").aggr(Report, n="count(employee_number)")

*reports_to    n
+------------+ +---+
1002           2
1056           4
1088           3
1102           6
1143           6
1621           1
 (Total: 6)

In [51]:
%%sql

use classicsales;

SELECT employee.employee_number, first_name, last_name, count(report.employee_number) as n 
FROM employee LEFT JOIN report ON (employee.employee_number = report.reports_to)
GROUP BY employee.employee_number

 * mysql://root:***@127.0.0.1
0 rows affected.
23 rows affected.

[(1002, 'Diane', 'Murphy', 2),
 (1056, 'Mary', 'Patterson', 4),
 (1076, 'Jeff', 'Firrelli', 0),
 (1088, 'William', 'Patterson', 3),
 (1102, 'Gerard', 'Bondur', 6),
 (1143, 'Anthony', 'Bow', 6),
 (1165, 'Leslie', 'Jennings', 0),
 (1166, 'Leslie', 'Thompson', 0),
 (1188, 'Julie', 'Firrelli', 0),
 (1216, 'Steve', 'Patterson', 0),
 (1286, 'Foon Yue', 'Tseng', 0),
 (1323, 'George', 'Vanauf', 0),
 (1337, 'Loui', 'Bondur', 0),
 (1370, 'Gerard', 'Hernandez', 0),
 (1401, 'Pamela', 'Castillo', 0),
 (1501, 'Larry', 'Bott', 0),
 (1504, 'Barry', 'Jones', 0),
 (1611, 'Andy', 'Fixter', 0),
 (1612, 'Peter', 'Marsh', 0),
 (1619, 'Tom', 'King', 0),
 (1621, 'Mami', 'Nishi', 1),
 (1625, 'Yoshimi', 'Kato', 0),
 (1702, 'Martin', 'Gerard', 0)]

In [50]:
%%sql

SELECT employee.employee_number, first_name, last_name, report.employee_number as subordinate 
FROM employee LEFT JOIN report ON (employee.employee_number = report.reports_to)

 * mysql://root:***@127.0.0.1
39 rows affected.

[(1002, 'Diane', 'Murphy', 1056),
 (1002, 'Diane', 'Murphy', 1076),
 (1056, 'Mary', 'Patterson', 1088),
 (1056, 'Mary', 'Patterson', 1102),
 (1056, 'Mary', 'Patterson', 1143),
 (1056, 'Mary', 'Patterson', 1621),
 (1076, 'Jeff', 'Firrelli', None),
 (1088, 'William', 'Patterson', 1611),
 (1088, 'William', 'Patterson', 1612),
 (1088, 'William', 'Patterson', 1619),
 (1102, 'Gerard', 'Bondur', 1337),
 (1102, 'Gerard', 'Bondur', 1370),
 (1102, 'Gerard', 'Bondur', 1401),
 (1102, 'Gerard', 'Bondur', 1501),
 (1102, 'Gerard', 'Bondur', 1504),
 (1102, 'Gerard', 'Bondur', 1702),
 (1143, 'Anthony', 'Bow', 1165),
 (1143, 'Anthony', 'Bow', 1166),
 (1143, 'Anthony', 'Bow', 1188),
 (1143, 'Anthony', 'Bow', 1216),
 (1143, 'Anthony', 'Bow', 1286),
 (1143, 'Anthony', 'Bow', 1323),
 (1165, 'Leslie', 'Jennings', None),
 (1166, 'Leslie', 'Thompson', None),
 (1188, 'Julie', 'Firrelli', None),
 (1216, 'Steve', 'Patterson', None),
 (1286, 'Foon Yue', 'Tseng', None),
 (1323, 'George', 'Vanauf', None),
 (1337, 'Loui', 'Bondur', None),
 (1370, 'Gerard', 'Hernandez', None),
 (1401, 'Pamela', 'Castillo', None),
 (1501, 'Larry', 'Bott', None),
 (1504, 'Barry', 'Jones', None),
 (1611, 'Andy', 'Fixter', None),
 (1612, 'Peter', 'Marsh', None),
 (1619, 'Tom', 'King', None),
 (1621, 'Mami', 'Nishi', 1625),
 (1625, 'Yoshimi', 'Kato', None),
 (1702, 'Martin', 'Gerard', None)]