# Nations

## Background

The Nations database is reproduced here from the MariaDB tutorial under fair use principles for instructional purposes.

The original is found at https://www.mariadbtutorial.com/getting-started/mariadb-sample-database/

This example demonstrates how DataJoint can work with existing SQL schemas. We:

- **Load the canonical schema** exactly as published by the MariaDB team so you can compare the DataJoint rendition with the original SQL definitions.
- **Use `spawn_missing_classes()`** to automatically create DataJoint table classes from an existing database schema.
- **Visualize the structure** using DataJoint's diagram tool to understand the relationships between tables.

The Nations database contains geographical data including:
- **Continents**: Major continental regions
- **Regions**: Sub-regions within continents
- **Countries**: Individual nations with their regional assignments
- **Country Statistics**: Population and GDP data over time
- **Languages**: Languages spoken in each country

## Loading the Dataset

In [ ]:
%load_ext sql
%sql mysql+pymysql://dev:devpass@db

In [2]:
%sql --file ./nation.sql

 * mysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
7 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
239 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
984 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
9514 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
457 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
25 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
25 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
5 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [3]:
%%sql

SHOW TABLES in nation;

 * mysql://root:***@localhost
9 rows affected.

[('continents',),
 ('countries',),
 ('country_languages',),
 ('country_stats',),
 ('guests',),
 ('languages',),
 ('region_areas',),
 ('regions',),
 ('vips',)]

## DataJoint Schema Diagram

Now we use DataJoint to introspect the existing schema and generate Python table classes. The `spawn_missing_classes()` method automatically creates DataJoint table classes that mirror the existing database tables.

In [ ]:
import datajoint as dj
schema = dj.Schema('nation')
schema.spawn_missing_classes()

dj.Diagram(schema)

## Sample Query

Here we display the `CountryStats` table showing population and GDP data over time:

In [5]:
CountryStats()

*country_id    *year    population     gdp
+------------+ +------+ +------------+ +------------+
1              1986     62644          405463417
1              1987     61833          487602457
1              1988     61079          596423607
1              1989     61032          695304363
1              1990     62149          764887117
1              1991     64622          872138730
1              1992     68235          958463200
1              1993     72504          1082979708
1              1994     76700          1245688253
1              1995     80324          1320474860
1              1996     83200          1379960894
1              1997     85451          1531944134
   ...
 (Total: 9514)