In [2]:
import pymysql
pymysql.install_as_MySQLdb()

%load_ext sql
%config SqlMagic.autocommit=True

In [3]:
connection_string = "mysql://root:simple@127.0.0.1"

In [4]:
%sql $connection_string

In [5]:
%%sql 

show schemas

 * mysql://root:***@127.0.0.1
6 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('person',),
 ('sys',),
 ('test',)]

In [10]:
%%sql
CREATE SCHEMA IF NOT EXISTS person2

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [11]:
%%sql
use person2

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [12]:
%%sql
SHOW TABLES

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [13]:
%%sql

CREATE TABLE person (
    person_id   INT NOT NULL,
    first_name  VARCHAR(30) NOT NULL,
    last_name   VARCHAR(30) NOT NULL,
    PRIMARY KEY(person_id) 
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [15]:
%%sql

INSERT  person (person_id, first_name, last_name) VALUES (1, "Bob", "Builder")

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [16]:
%%sql 
CREATE TABLE department (
    dept_code char(4) NOT NULL, 
    dept_name varchar(200) NOT NULL,
    PRIMARY KEY (dept_code)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [17]:
%%sql

CREATE TABLE student (
    person_id   INT NOT NULL,
    dept_code   CHAR(4) NOT NULL,
    PRIMARY KEY(person_id),
    FOREIGN KEY(person_id) REFERENCES person (person_id),
    FOREIGN KEY(dept_code) REFERENCES department (dept_code)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [20]:
%%sql
create table title ( 
    title_code char(8) not null,
    full_title  varchar(120)  not null,
    PRIMARY KEY(title_code) 
    )

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [21]:
%%sql 
SELECT * FROM title;

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [26]:
%%sql
create table employee(
	person_id INT NOT NULL,
	title_code char(8) NOT NULL,
	Primary key(person_id),
	Foreign Key(person_id) REFERENCES person(person_id),
	Foreign Key(title_code) REFERENCES title(title_code)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [25]:
%%sql

drop table employee

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [27]:
%%sql

CREATE TABLE language (
    lang_code  char(8) NOT NULL,
    language varchar(20) NOT NULL,
    PRIMARY KEY(lang_code)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [29]:
%%sql
INSERT language (lang_code, language) VALUES
        ("Eng", "English"),
        ("Nav", "Navajo"),
        ("Fr", "French"),
        ("It", "Italian"),
        ("Sp", "Spanish"),
        ("Ar", "Arabic")

 * mysql://root:***@127.0.0.1
6 rows affected.

[]

In [30]:
%%sql
SELECT * FROM language

 * mysql://root:***@127.0.0.1
6 rows affected.

[('Ar', 'Arabic'),
 ('Eng', 'English'),
 ('Fr', 'French'),
 ('It', 'Italian'),
 ('Nav', 'Navajo'),
 ('Sp', 'Spanish')]

In [ ]:
%%sql

CREATE TABLE language_skill (
    person_id int NOT NULL,
    language_code char(8) NOT NULL,
    skill_level enum("beginner", "intermediate", "fluent", "native") NOT NULL,
    PRIMARY KEY(person_id),
    FOREIGN KEY(language_code) REFERENCES language(language_code),
    FOREIGN KEY(person_id) REFERENCES person(person_id)
)