# Design

## Problem 4. Online App

You are designing a smart phone app

1. Users can subscribe for free, identified by their US phone number without extensions. Provide first and last name.
2. Users can add one or more credits cards to their account. Store zipcode, expiration date, and the CVC.
3. The app has paid add-ons called "Track & Field", "Marathon", and "Sprint", each with a fixed price.
4. A user can purchase each add-on, in which case she must provide a credit card for the purchase. A user cannot purchase the same addon twice. Include the purchase date.

In [1]:
import pymysql
pymysql.install_as_MySQLdb()

%load_ext sql
%config SqlMagic.autocommit=True

%sql mysql://root:simple@127.0.0.1

In [2]:
%%sql

CREATE SCHEMA IF NOT EXISTS app2

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [10]:
%%sql
USE app2

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [11]:
%%sql

SHOW TABLES

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [13]:
%%sql

CREATE TABLE account (
     phone  bigint unsigned NOT NULL,
     first_name varchar(30) NOT NULL,
     last_name varchar(30) NOT NULL,
     dob date,
     sex enum("M", "F"),
     PRIMARY KEY (phone)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [15]:
%%sql

CREATE TABLE credit_card (
    card_number bigint unsigned NOT NULL,
    cvc  smallint unsigned NOT NULL,
    exp_date date NOT NULL,
    zipcode int unsigned NOT NULL,
    phone bigint unsigned NOT NULL,
    PRIMARY KEY (card_number),
    FOREIGN KEY (phone) REFERENCES account(phone)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [16]:
%%sql
CREATE TABLE addon (
    addon_id int NOT NULL,
    addon_name varchar(30) NOT NULL,
    price decimal(5,2) unsigned NOT NULL,
    PRIMARY KEY(addon_id)
)

 * mysql://root:***@127.0.0.1
0 rows affected.

[]

In [18]:
%%sql

CREATE TABLE purchase (
    phone bigint unsigned NOT NULL,
    addon_id int NOT NULL,
    card_number bigint unsigned NOT NULL,
    PRIMARY KEY (phone, addon_id),
    FOREIGN KEY (card_number) REFERENCES credit_card(card_number),
    FOREIGN KEY (phone) REFERENCES account(phone),
    FOREIGN KEY (addon_id) REFERENCES addon(addon_id)
)

 * mysql://root:***@127.0.0.1
(pymysql.err.OperationalError) (1050, "Table 'purchase' already exists")
[SQL: CREATE TABLE purchase (
    phone bigint unsigned NOT NULL,
    addon_id int NOT NULL,
    card_number bigint unsigned NOT NULL,
    PRIMARY KEY (phone, addon_id),
    FOREIGN KEY (card_number) REFERENCES credit_card(card_number),
    FOREIGN KEY (phone) REFERENCES account(phone),
    FOREIGN KEY (addon_id) REFERENCES addon(addon_id)
)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [25]:
%%sql

INSERT account VALUES (7133996769, 'Anne', 'Smith'), (7139993769, 'Jackie', 'Smith')

 * mysql://root:***@127.0.0.1
2 rows affected.

[]

In [26]:
%%sql

INSERT credit_card VALUES (12310983234238, 123, '2023-12-12', '77006', 7133996769)

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [27]:
%%sql
INSERT addon VALUES (1, "Sprint", 100.00)

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [28]:
%%sql
INSERT purchase VALUES (7133996769, 1, 12310983234238)

 * mysql://root:***@127.0.0.1
1 rows affected.

[]

In [29]:
%%sql
SELECT * FROM purchase NATURAL JOIN addon NATURAL JOIN account

 * mysql://root:***@127.0.0.1
1 rows affected.

[(7133996769, 1, 12310983234238, 'Sprint', Decimal('100.00'), 'Anne', 'Smith')]