In [1]:
import json
with open('cred.json') as f:
    creds = json.load(f)

connection_string = "mysql://{user}:{password}@{host}".format(**creds)

import pymysql 
pymysql.install_as_MySQLdb()

In [2]:
%load_ext sql
%config SqlMagic.autocommit=True
%sql $connection_string

In [3]:
%%sql

create schema dimitri_university;

 * mysql://dimitri:***@db.data-science-ust.net
(pymysql.err.ProgrammingError) (1007, "Can't create database 'dimitri_university'; database exists")
[SQL: create schema dimitri_university;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [5]:
%%sql

show databases;

 * mysql://dimitri:***@db.data-science-ust.net
12 rows affected.

[('abrahap_university',),
 ('dimitri_university',),
 ('gimenel_university',),
 ('information_schema',),
 ('innodb',),
 ('llewis1_university',),
 ('mysql',),
 ('ortizc2_university',),
 ('patelcu_university',),
 ('performance_schema',),
 ('test',),
 ('wrightm1_university',)]

In [6]:
%%sql 

use dimitri_university

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.

[]

In [8]:
%%sql 

show tables

 * mysql://dimitri:***@db.data-science-ust.net
3 rows affected.

[('employee',), ('person',), ('~log',)]

In [15]:
%%sql

select * from person

 * mysql://dimitri:***@db.data-science-ust.net
(pymysql.err.ProgrammingError) (1146, "Table 'dimitri_university.person' doesn't exist")
[SQL: select * from person]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [13]:
%%sql

DELETE FROM person

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.

[]

In [14]:
%%sql

DROP TABLE person;

 * mysql://dimitri:***@db.data-science-ust.net
0 rows affected.

[]

In [ ]:
%%sql 

create table dimitri_university.person (
    personal_id  integer,
    first_name varchar(30),
    last_name varchar(30),
    date_of_birth date
)

In [ ]:
%%sql

drop table dimitri_university.person;

In [ ]:
%%sql

show tables from dimitri_university

In [ ]:
%%sql

show create table dimitri_university.person

In [ ]:
%%sql

INSERT  dimitri_university.person values (1, 'Bob', 'Jones', '2000-01-01');

In [ ]:
%%sql

SELECT * FROM dimitri_university.person;

In [ ]:
%%sql

INSERT  dimitri_university.person (personal_id, first_name, last_name, date_of_birth) 
   values (1, 'Bob', 'Jones', '2000-01-01');

In [ ]:
%%sql

INSERT  dimitri_university.person (personal_id, last_name) 
   values (2,  'Jones');

In [ ]:
%%sql

use dimitri_university

In [ ]:
%%sql

SELECT * FROM person;

In [ ]:
%%sql

INSERT  person (last_name) 
   values ('Jones');

In [ ]:
%%sql 

SELECT * FROM person;

# That was a bad design. Let's try again

In [ ]:
%%sql

use dimitri_university

In [ ]:
%%sql

drop table person

In [ ]:
%%sql 

create table person (
    personal_id  integer unsigned NOT NULL,
    first_name varchar(30) NOT NULL,
    last_name varchar(30) NOT NULL,
    date_of_birth date NOT NULL,
    address varchar(30) DEFAULT "" NOT NULL,
    PRIMARY KEY(personal_id)
)

In [ ]:
%%sql

drop table person;

In [ ]:
%%sql

INSERT  person (personal_id, first_name, last_name, date_of_birth) 
   values (1, 'Bob', 'Jones', '2020-01-01');

In [ ]:
%%sql

INSERT  person (personal_id, first_name, last_name, date_of_birth) 
   values (2, 'Alice', 'Cooper', '2020-01-02');

In [ ]:
%%sql

SELECT * FROM person

In [ ]:
%%sql

INSERT  person (personal_id, first_name, last_name, date_of_birth) 
   values (4, 'Caren', 'Peterson', '2020-05-01'),
        (3, 'Bob', 'Dylan', '2020-03-03');

In [ ]:
%%sql

SELECT * FROM person

# Entity integrity 

Entity integrity is the guarantee given by the data management process of 1-to-1 correspondence between entities in the real world and their digital representations.  The database cannot do it on its own.

To enforce this, databases enforce the uniquness of the primary key.

# Introducing DataJoint

In [ ]:
import datajoint as dj

In [ ]:
dj.config['database.host'] = creds['host']
dj.config['database.user'] = creds['user']
dj.config['database.password'] = creds['password']

In [ ]:
dj.conn()

In [ ]:
dj.set_password()

In [ ]:
schema = dj.schema('dimitri_university')
schema.spawn_missing_classes()

In [ ]:
@schema
class Employee(dj.Manual):
    definition = """
        employee_id : int unsigned
        ---
        first_name : varchar(30)
        last_name : varchar(30)
        date_of_birth : date 
        address : varchar(60)
    """

In [ ]:
dj.Diagram(schema)

In [ ]:
Person()

In [ ]:
Person.insert1((1, 'Carol', 'Fair', '2020-07-01', 'Far Away'))

In [ ]:
Person()

In [ ]:
Person().make_sql()

In [ ]:
import sqlite3